@{
    int contadorG =1;
    int contadorP = 1;
}

<form method="get" action='@Url.Action("GuardarDatos")' autocomplete="off">
    <div class = "container">
        <h2>Registro</h2>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Username:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="username" name="username" placeholder="Su username..">
                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Contrase침a:</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" name="password" onkeyup="validatePassword()" placeholder="Su contrase침a..">
                    <p id="resultado"></p>
                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Correo Electronico:</label>
                </div>
                <div class="col-75">
                    <input type="email" id="mail" name="mail" placeholder="Su mail..">
                </div>
        </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Genero:</label>
                </div>
                <div class="col-75">
                    <select class="form-select" id ="genero" name="genero" aria-label="Floating label select example">
                        <option selected>Selecci칩n de Genero</option>
                        @for(int i=0;i<ViewBag.GenerosEleccion.Count;i++){
                            <option value="@contadorG">@ViewBag.GenerosEleccion[i].Contenido</option>
                            contadorG++;
                        }
                    </select>
                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Pregunta:</label>
                </div>
                <div class="col-75">
                    <select class="form-select" id="idPregunta" name="idPregunta" aria-label="Floating label select example">
                        <option selected>Selecci칩n de Preguntas</option>
                        @for(int i=0;i<ViewBag.PreguntasEleccion.Count;i++){
                            <option value="@contadorP">@ViewBag.PreguntasEleccion[i].Contenido</option>
                            contadorP++;
                        }
                    </select>
                </div>
            </div>
        <div class="row">
                <div class="col-25">
                    <label for="fname">Respuesta:</label>
                </div>
                <div class="col-75">
                    <input type="text" id="respuesta" name="respuesta" placeholder="Su respuesta..">
                </div>
        </div>
        <div class = "BotonLogin">
            <h3><a href='@Url.Action("GuardarDatos","Account")'><input type="submit" value="Registrarse"></input></a></h3>
        </div>
    </div>
</form>
<button class="button" style="vertical-align:middle"><a href='@Url.Action("Login","Account")'><span>Volver al Login</span></a></button>